@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pokemon';
  src: url('assets/Pokemon\ Solid.ttf')  format('truetype')
}

* {
  @apply font-pangolin;
}

h1 {
  @apply text-blue-700 font-bold text-3xl my-8 tracking-wider;
  font-family: 'Pokemon', sans-serif;
  text-shadow: 0 0 0.5rem yellow;
}

.card {
  @apply bg-gradient-to-b from-green-400 to-yellow-300 rounded p-4 shadow-lg w-full h-48 min-h-full;
}

.card:hover {
  cursor: pointer;
}

.card > img {
  transform: none;
  transition: transform 0.2s;
}

.card:hover > img {
  transform: scale(1.5);
  transition: transform 0.2s;
}

.normal {
  background-color: #A8A878;
}

.fighting {
  background-color: #C03028;
}

.flying {
  background-color: #A890F0;
}

.poison {
  background-color: #A040A0;
}

.ground {
  background-color: #E0C068;
}

.rock {
  background-color: #B8A038;
}

.bug {
  background-color: #A8B820;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #B8B8D0;
}

.fire {
  background-color: #F08030;
}

.water {
  background-color: #6890F0;
}

.grass {
  background-color: #78C850;
}

.electric {
  background-color: #F8D030;
}

.psychic {
  background-color: #F85888;
}

.ice {
  background-color: #98D8D8;
}

.dragon {
  background-color: #7038F8;
}

.dark {
  background-color: #705848;
}

.fairy {
  background-color: #F0B6BC;
}

.unknown {
  background-color: #6AA596;
}

.shadow {
  background-color: #705898;
}
